<a href="https://colab.research.google.com/github/muhammadajiwisnuperdana/UAS/blob/main/Decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('healthcare-dataset-stroke-data.csv')
data.head(10)

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1
5  56669    Male  81.0  ...  29.0  formerly smoked      1
6  53882    Male  74.0  ...  27.4     never smoked      1
7  10434  Female  69.0  ...  22.8     never smoked      1
8  27419  Female  59.0  ...   NaN          Unknown      1
9  60491  Female  78.0  ...  24.2          Unknown      1

[10 rows x 12 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
enc = LabelEncoder()

In [7]:
data ['gender'] = enc.fit_transform(data ['gender'] .values)
data ['hypertension'] = enc.fit_transform(data ['hypertension'] .values)
data ['heart_disease'] = enc.fit_transform(data ['heart_disease'] .values)
data ['ever_married'] = enc.fit_transform(data ['ever_married'] .values)
data ['work_type'] = enc.fit_transform(data ['work_type'] .values)
data ['Residence_type'] = enc.fit_transform(data ['Residence_type'] .values)
data ['smoking_status'] = enc.fit_transform(data ['smoking_status'] .values)
data ['bmi'] = enc.fit_transform(data ['bmi'] .values)

In [8]:
data.head()

      id  gender   age  ...  bmi  smoking_status  stroke
0   9046       1  67.0  ...  239               1       1
1  51676       0  61.0  ...  475               2       1
2  31112       1  80.0  ...  198               2       1
3  60182       0  49.0  ...  217               3       1
4   1665       0  79.0  ...  113               2       1

[5 rows x 12 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   int64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(2), int64(10)
memory usage: 479.2 KB

In [11]:
atr_data = data.drop(columns='stroke')
atr_data.head()

      id  gender   age  ...  avg_glucose_level  bmi  smoking_status
0   9046       1  67.0  ...             228.69  239               1
1  51676       0  61.0  ...             202.21  475               2
2  31112       1  80.0  ...             105.92  198               2
3  60182       0  49.0  ...             171.23  217               3
4   1665       0  79.0  ...             174.12  113               2

[5 rows x 11 columns]

In [12]:
cls_data = data ['stroke']
cls_data.head(100)

0     1
1     1
2     1
3     1
4     1
     ..
95    1
96    1
97    1
98    1
99    1
Name: stroke, Length: 100, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [14]:
xtrain, xtest, ytrain, ytest = train_test_split(atr_data, cls_data, test_size=0.2, random_state=500)
tree_data = DecisionTreeClassifier (random_state=500)
tree_data.fit(xtrain, ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=500, splitter='best')

In [15]:
print("Nilai akurasi pada data testing:", tree_data.score(xtest, ytest))

Nilai akurasi pada data testing: 0.910958904109589

In [40]:
from sklearn.tree import export_graphviz
export_graphviz(tree_data, out_file="tree_stroke.dot", class_names=["1", "0"], feature_names=atr_data.columns, impurity=False, filled=True)

In [44]:
import graphviz

with open("tree_stroke.dot") as fig:
  dot_graph = fig.read()
  graphviz.Source(dot_graph)